@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,45,219,1) 0%, rgba(148,9,227,1) 46%, rgba(115,0,255,1) 100%);
}

header{
    background-image: url("https://e-z.bio/_assets/sparkles/rainbowsparkle.gif");
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 20vh;
    padding-bottom: 20vh;
}

header h1, header h3 {
    color: #fff; /* Ensures text color is white */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* Enhances text shadow for better visibility */
    font-style: italic; /* Makes text italic */
}

header h1 {
    font-weight: 900; /* Maximum boldness */
    font-size: 2.5rem; /* Adjust size as needed */
}

header h3 {
    font-weight: 700; /* Bold but less than h1 for visual hierarchy */
    font-size: 1.5rem; /* Adjust size as needed */
}



.join-us-btn {
    display: inline-block; /* Allows margin, padding, and width adjustments */
    padding: 10px 30px; /* Adjusts size */
    background-color: transparent; /* Transparent background */
    color: #fff; /* White text */
    border: 2px solid #fff; /* White border */
    border-radius: 50px; /* Slightly rounded corners */
    text-decoration: none; /* Removes underline from link */
    font-size: 1rem; /* Adjusts font size */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
    margin-top: 10px;
}

.join-us-btn:hover {
    background-color: #fff; /* White background on hover */
    color: #000; /* Changes text color to black for contrast */
    cursor: pointer; /* Changes cursor to pointer */
}





nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1vh 2vh; /* Adjusted for a balanced padding */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,45,219,1) 0%, rgba(148,9,227,1) 50%, rgba(0,212,255,1) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; /* This might need adjustment */
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
}

.main-logo img {
    vertical-align: middle;
}

.list {
    display: flex;
    gap: 30px;
    margin-right: 10vh;
}

.links{
    color: #fff;
    text-decoration: none;
} .links:hover{
    color: gray;
}




.next-section {
    background-color: #FFFFFF; /* Ensures the section matches the SVG fill */
    padding: 70px 200px; /* Adjust padding as needed */
}

.wave-container {
    background-image: url("https://e-z.bio/_assets/sparkles/rainbowsparkle.gif");
    overflow: hidden; /* Ensures no overflow from the SVG */

    color: black;
}

.quick-desc{
    text-align: center;
}




footer{
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(218,0,255,1) 0%, rgba(9,200,227,1) 50%, rgba(115,0,255,1) 100%);
}

footer h3{
    padding-top: 40px;
}

footer a{
    text-decoration: none;
    color: #fff;
    padding-bottom: 20px;
}